body {
  margin: 0;
}

.menu {
  display: flex;
  background-color: #9C27B0ed;
  color: white;
  flex-direction: column;
  justify-content: center;
  width: 584px;
  height: 5vh;



}

.imagem {
  display: flex;
  margin: 10px;
  max-width: 100%;
}

.nome {

  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nivel {

  margin: 10px;


}
